@font-face {
  font-family: 'IM FELL English SC';
  src: local('IM FELL English SC'),
       url('/IM FELL English SC.woff') format('woff');
}

@font-face {
  font-family: Ubuntu;
  src: local(Ubuntu), url(/Ubuntu.woff) format('woff');
}

* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-weight: bold;
  outline: none;
  text-decoration: inherit;
  text-shadow: grey 1px 1px 3px;
}

a:hover {
  text-decoration: underline;
}

a.next, a.previous {
  font-weight: inherit;
  text-decoration: inherit;
}

article {
  background: white;
  box-shadow: grey 0 0 1rem;
  color: black;
  margin: 1rem auto;
  max-width: 40rem;
  padding: 1rem;
}

article h1 {
  font-size: inherit;
  font-weight: inherit;
}

article h1 a {
  font-weight: inherit;
}

article p {
  margin-top: 1rem;
}

article .meta {
  display: grid;
  grid-template-columns: auto auto;
}

article .meta .coords {
  justify-self: right;
  margin: 0;
  text-align: right;
}

body {
  background: lightgrey;
  color: black;
  font-family: Ubuntu, sans-serif;
}

footer, header {
  font-family: 'IM FELL English SC', serif;
  margin: 1rem auto;
  text-align: center;
}

footer a, header a {
  font-weight: inherit;
}

ol {
  padding: 1rem 1rem 0;
}

.chastell-net {
  font-family: 'IM FELL English SC', serif;
  font-size: 1.2em;
}

.footnotes {
  border-top: 1px dashed grey;
  margin-top: 1rem;
}

.footnotes p {
  margin: 0;
}

.photo {
  align-items: center;
  display: grid;
  font-size: 3rem;
  grid-template-columns: 5vw auto 5vw;
  justify-items: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.photo:first-of-type {
  padding-top: 0;
}

.photo img {
  background: white;
  box-shadow: grey 0 0 1rem;
  max-height: 80vh;
  max-width: 80vw;
  object-fit: contain;
  padding: 2vmin;
}

.photos {
  display: grid;
  grid-template-columns: repeat(9, 10vw);
  margin: 1rem auto;
  text-align: center;
  width: 90vw;
}

.photos a {
  display: block;
  font-weight: inherit;
}

.photos div {
  margin-bottom: 1rem;
}

.photos img {
  background: white;
  box-shadow: grey 0 0 1rem;
  max-height: 80%;
  max-width: 80%;
  object-fit: contain;
  padding: 1vmin;
}
