- wrap_layout :layout do
  article lang=current_page.data.lang
    p.date = current_page.date
    h1
      a href='' = current_page.title
    = current_page.body

javascript:
  window.navigator.language == 'pl' ? moment.lang('pl') : moment.lang('en');
  Array.prototype.forEach.call(
    document.getElementsByClassName('date'),
    function(element) {
      element.setAttribute('title', element.innerHTML);
      element.innerHTML = moment(element.innerHTML).fromNow();
    }
  );
