@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext)
@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC)

*
  font-size: 1em
  font-weight: normal
  margin: 0
  padding: 0

a
  color: inherit
  font-weight: bold
  text-decoration: inherit
  text-shadow: #999 1px 1px 3px
  &:hover
    text-decoration: underline

article
  h1
    font-family: 'im fell english sc', georgia, serif
    font-size: 1.75em
    margin-bottom: 0.5em
    a
      font-weight: inherit
  .date
    float: right

body
  background-color: #eee
  font-family: Ubuntu, sans-serif

footer, header
  font-family: 'IM Fell English SC', serif
  padding: 1em 0
  text-align: center
  a
    font-weight: inherit

header
  h1
    font-size: 2em
  nav
    ul
      float: left
      left: 50%
      list-style: none
      padding: 1em 0
      position: relative
      li
        float: left
        padding: 0 0.5em
        position: relative
        right: 50%

p
  margin-bottom: 1em
  &:last-child
    margin: 0

.chastell-net
  font-family: 'IM Fell English SC', serif
  font-size: 1.2em

.content
  background-color: #fff
  border: 1px solid #999
  box-shadow: #999 0 0 30px
  clear: both
  margin: auto
  padding: 1em
  width: 40em
