@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,latin-ext);
* {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: inherit;
  text-shadow: #999 1px 1px 3px; }
  a:hover {
    text-decoration: underline; }

article {
  line-height: 1.5; }
  article h1 {
    font-family: "IM Fell English SC", Georgia, serif;
    font-size: 1.75em;
    line-height: 1;
    margin: 0.5em 0; }
    article h1 a {
      font-weight: inherit; }
  article .date {
    float: right;
    margin: 0; }

blockquote {
  border: 1px dashed #999;
  margin: 1em 0;
  padding: 0 1em; }
  blockquote h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 1.5em;
    font-variant: small-caps; }
  blockquote p:last-child {
    text-align: right; }

body {
  background-color: #eee;
  font-family: Ubuntu, sans-serif;
  height: 100%;
  overflow-y: scroll; }

html {
  height: 100%; }

cite em {
  font-style: normal; }

dd {
  padding: 0 1em; }

dl {
  margin: 1em 0; }

dt {
  font-weight: bold; }

footer, header {
  clear: both;
  font-family: "IM Fell English SC", serif;
  text-align: center; }
  footer a, header a {
    font-weight: inherit; }

kbd {
  font-family: "Ubuntu Mono", monospace; }

nav ul {
  list-style: none;
  float: left;
  left: 50%;
  margin: 0.5em;
  position: relative; }
  nav ul li {
    float: left;
    padding: 0 1em;
    position: relative;
    right: 50%;
    width: auto; }
    nav ul li.next, nav ul li.prev {
      font-family: Ubuntu, sans-serif;
      font-size: 1.5em;
      line-height: 0.75; }

p {
  margin: 1em 0; }

strong {
  font-weight: bold; }

sup {
  font-size: 0.6em; }

.ascii-art {
  font-family: "Courier New", "Ubuntu Mono", monospace;
  font-size: 0.8em;
  line-height: 1.1;
  margin: 2em 0;
  padding: 0 1em;
  text-align: center; }
  .ascii-art a {
    text-shadow: none; }

.chastell-net {
  font-family: "IM Fell English SC", serif;
  font-size: 1.2em; }

.content {
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: #999 0 0 2em;
  clear: both;
  padding: 1em; }
  .content p:first-child {
    margin-top: 0; }
  .content p:last-child {
    margin-bottom: 0; }

.cursor {
  text-decoration: blink; }

.deathspeak {
  font-variant: small-caps; }

.footnotes {
  border-top: 1px dashed #ccc;
  padding: 0.5em 1.5em 1em; }
  .footnotes a {
    padding-left: 0.5em; }
  .footnotes p {
    margin: 0; }

.main {
  clear: both;
  margin: 1em auto;
  width: 36em; }

.photo {
  clear: both;
  display: block;
  height: auto;
  margin: auto;
  max-height: calc(100% - 5em);
  max-width: calc(100% - 5em);
  width: auto; }

.shoot h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  margin: 0; }
.shoot .date {
  line-height: 1; }

.terminal {
  background-color: black;
  color: white;
  font-family: "Ubuntu Mono", monospace;
  line-height: 1;
  padding: 1em; }
