---
layout: main
title: ¹⁄₁₂₅
---
<div class="photos">
  {% for post in site.posts %}
    {% if site.data.photos[post.slug].width >= site.data.photos[post.slug].height %}
      {% assign rowspan = 2 %}
    {% else %}
      {% assign rowspan = 3 %}
    {% endif %}
    {% case site.data.photos[post.slug].extra %}
      {% when 0 %}
        {% assign count = "one" %}
      {% when 1 %}
        {% assign count = "two" %}
      {% else %}
        {% assign count = "many" %}
    {% endcase %}
    <div
      class="{{ count }}"
      style="grid-column-start: span 3; grid-row-start: span {{ rowspan }};"
    >
      <a href="{{ post.url }}"><img src="/1/125/{{ post.slug }}/sample.png" /></a>
      <a class="title" href="{{ post.url }}">{{ post.title }}</a>
    </div>
  {% endfor %}
</div>
