- path  = Pathname.new(current_page.source_file).sub_ext('') / 'full.jpg'
- width = FastImage.size(path).first
- url   = current_page.url
img.content.photo(src="#{url}photo.jpg" srcset="#{url}full.jpg #{width}w")
