nav
  = partial :prev_next_line, locals: { label:       label,
                                       next_entry:  current_page.next_article,
                                       next_symbol: '↢',
                                       prev_entry:  current_page.previous_article,
                                       prev_symbol: '↣' }
