---
layout: false
---

- root = URI.parse('http://chastell.net/')
doctype xml
feed xmlns='http://www.w3.org/2005/Atom'
  author
    email chastell@chastell.net
    name Piotr Szotkowski
  id = root
  link href=root
  link href=root+current_page.url rel='self'
  title chastell.net
  updated = blog.articles.first.date.to_time.iso8601
  - recent = blog.articles.take_while { |art| art.date > Date.today.prev_year }
  - recent.each do |article|
    entry
      - url = root + article.url
      - pic = "<p><a href='#{url}'><img src='#{url + 'sample.png'}' /></a></p>"
      content type='html' = escape_html(pic + article.body)
      id = url
      link href=url rel='alternate'
      title = article.title
      updated = article.date.to_time.iso8601
